{% extends "./base.html" %}
{% load static %}

{% block title %}About Us | Hiring Solutions{% endblock title %}

{% block css_link %}{% static "/hrsolution/styles/hr_aboutstyle.css" %}{% endblock css_link %}

{% block body %}

<style>
    .first-part{
        background-image: url('{% static "/hrsolution/images/aboutpagemain.jpg" %}');
        background-size: cover;
        background-repeat: no-repeat;
        height: 80vh;
    }
    .about-fourthsection{
        background-image: url('{% static "/hrsolution/images/aboutpage-3.jpg" %}');
        background-size: cover;
        background-repeat: no-repeat;
    }
    @media only screen and (max-width: 740px) {
        .first-part{
            background-size: fit;
            height: auto;
        }
    }
</style>

    <div class="container-fluid first-part">
        <nav class="container-fluid navbar">
            <div class="logo">
                <a href="{% url "hiring-home" %}">
                    <img src="{% static '/hrsolution/images/hr-logo.svg' %}" alt="Logo">
                </a>
            </div>
            <div class="navbar-desktop">
                <ul>
                    <li><a href="{% url "hiring-home" %}"><span >Home</span></a></li>
                    <li><a href="{% url "hiring-about" %}"><span style="color: blue;">About</span></a></li>
                    <li><a href="{% url "hiring-service" %}">Services</a></li>
                    <li><a href="{% url "hiring-contact" %}">Contacts</a></li>
                </ul>
                <a href="{% url "hiring-jobs" %}" class="login">
                    Jobs
                </a>
            </div>
            <div class="navbar-mobile">
                <img src="{% static "/hrsolution/images/menu_mobile.svg" %}" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" alt="Menu button" height="50">

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body mobile-links">
                        <ul>
                            <li><a href="{% url "hiring-home" %}"><span style="color: blue;">Home</span></a></li>
                            <li><a href="{% url "hiring-about" %}">About</a></li>
                            <li><a href="{% url "hiring-service" %}">Services</a></li>
                            <li><a href="{% url "hiring-contact" %}">Contacts</a></li>
                            <li><a href="{% url "hiring-jobs" %}">Jobs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="website-description">
            
            <h1>About US</h1>
            <h4>The Best Recruitment Company In<span style="color: blue;"> INDIA</span></h4>
        </div>
    </div>

    <div class="secoundsection-about">
        <div class="about-company">
            <div class="about-head">
                <h1>About Company</h1>
                <hr>
            </div>
            <p> 
                We are the best recruitment agency in India. the best team is in identifying the
                right mix of talent, skills, attitude and, personality. G-Mars The best staff hiring
                company in India has a keen eye for identifying all of these, and is proud of its
                track record in assisting clients recruit the most talented individuals who will
                add the most value to the team.
            </p>
            <p> 
                And that's how we putting our efforts to be the top and best recruitment
                company in India. Our values are woven into the way we work with clients and
                alike with integrity, trust, respect and enthusiasm at the core.
            </p>
        </div>
        <div class="about-company-img">
            <img src="{% static "/hrsolution/images/aboutpage-1.jpg" %}" alt="">
        </div>
    </div>
    <div class="about-thirdsection">
        <div class="ourvision-img">
            <img src="{% static "/hrsolution/images/aboutpage-2.jpg" %}" alt="">
        </div>
        <div class="ourvision">
            <h4>
                <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" viewBox="0 0 24 24"><g fill="none" stroke="#002f8d" stroke-width="1.5"><path stroke-linecap="round" d="M9 4.46A9.84 9.84 0 0 1 12 4c4.182 0 7.028 2.5 8.725 4.704C21.575 9.81 22 10.361 22 12c0 1.64-.425 2.191-1.275 3.296C19.028 17.5 16.182 20 12 20c-4.182 0-7.028-2.5-8.725-4.704C2.425 14.192 2 13.639 2 12c0-1.64.425-2.191 1.275-3.296A14.465 14.465 0 0 1 5 6.821"/><path d="M15 12a3 3 0 1 1-6 0a3 3 0 0 1 6 0Z"/></g></svg>
                Our Vision
            </h4>
            <p>
                We continuously strive to become the preferred source for
                employment and human resource services. We are
                dedicated to serving our customers and the community with
                the highest levels of service, knowledge, professionalism,
                honesty and integrity.
            </p>
            <h4>
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 14 14"><path fill="#002f8d" fill-rule="evenodd" d="M11.485.379a.5.5 0 0 0-.839-.233l-2 2a.5.5 0 0 0-.131.475l.36 1.444a.725.725 0 0 0-.014.014L6.47 6.47a.75.75 0 0 0 1.06 1.06l2.393-2.39a.789.789 0 0 0 .014-.015l1.443.361a.5.5 0 0 0 .475-.131l2-2a.5.5 0 0 0-.233-.84l-1.709-.426zm-4.168.38a.75.75 0 0 1-.696.8a5.47 5.47 0 1 0 5.831 5.89a.75.75 0 1 1 1.496.119A6.97 6.97 0 1 1 6.517.062a.75.75 0 0 1 .8.696Zm-.672 3.299a.75.75 0 0 1-.425.972a2.12 2.12 0 1 0 2.75 2.742a.75.75 0 1 1 1.398.544a3.62 3.62 0 1 1-4.694-4.683a.75.75 0 0 1 .971.425" clip-rule="evenodd"/></svg>
                Our Mission
            </h4>
            <p>
                Our employment agency will follow our mission to staff
                businesses with great employees. Our services will allow
                the business to stay focused on their core values. We have a
                mission to connect employees that are talented, motivated,
                and driven to excellence with great businesses by opening
                up opportunities for both. 
            </p>
        </div>
    </div>
    <div class="about-fourthsection">
        <h1>Make Your Dream</h1>
        <h1>With Us</h1>
        <a href="{% url "hiring-contact" %}">
            <div class="about-button">Contact Us</div>
        </a>
    </div>

    <footer>
        <div class="footer">
            <div class="footeremail">
                <div class="footerlogo">
                    <img src="{% static "/hrsolution/images/hr-logo.svg" %}" alt="Footer Logo" height="100px">
                </div>
                <div class="footerhead">
                    <h4>Be Future Ready</h4>
                    <p>
                        Get exclusive Recruitment updates <br>
                        straight to your inbox
                    </p>
                    <form method="POST" name="submit-to-google-sheet">
                        {% csrf_token %}
                        <div class="emailaddress-input">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 256 256"><path fill="currentColor" d="m224.49 136.49l-72 72a12 12 0 0 1-17-17L187 140H40a12 12 0 0 1 0-24h147l-51.49-51.52a12 12 0 0 1 17-17l72 72a12 12 0 0 1-.02 17.01"/></svg>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer-links">
                <div class="footer-pages">
                    <h5><b>G-mars</b></h5>
                    <ul>
                        <li>
                            <a href="{% url "hiring-home" %}">About Us</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/gmars.hiring_solutions?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Meet the team</a>
                        </li>
                        <li>
                            <a href="{% url "hiring-service" %}">Services</a>
                        </li>
                        <li>
                            <a href="{% url "hiring-contact" %}">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-contactus">
                    <h5><b>Contact Us</b></h5>
                    <ul>
                        <li>
                            <a href="tel:+917592805080">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="white" d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24c1.12.37 2.33.57 3.57.57c.55 0 1 .45 1 1V20c0 .55-.45 1-1 1c-9.39 0-17-7.61-17-17c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"/>
                                </svg>
                            +91 75928 05080
                            </a>
                        </li>
                        <li>
                            <a href="tel:+917593805080">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="white" d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24c1.12.37 2.33.57 3.57.57c.55 0 1 .45 1 1V20c0 .55-.45 1-1 1c-9.39 0-17-7.61-17-17c0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1c0 1.25.2 2.45.57 3.57c.11.35.03.74-.25 1.02z"/>
                                </svg>
                            +91 75938 05080
                            </a>
                        </li>
                        <li>
                            <a href="mailto:gmars.hiring@gmail.com">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 36 36"><path fill="white" d="M32.33 6a2 2 0 0 0-.41 0h-28a2 2 0 0 0-.53.08l14.45 14.39Z" class="clr-i-solid clr-i-solid-path-1"/><path fill="white" d="m33.81 7.39l-14.56 14.5a2 2 0 0 1-2.82 0L2 7.5a2 2 0 0 0-.07.5v20a2 2 0 0 0 2 2h28a2 2 0 0 0 2-2V8a2 2 0 0 0-.12-.61M5.3 28H3.91v-1.43l7.27-7.21l1.41 1.41Zm26.61 0h-1.4l-7.29-7.23l1.41-1.41l7.27 7.21Z" class="clr-i-solid clr-i-solid-path-2"/><path fill="none" d="M0 0h36v36H0z"/>
                                </svg>
                            gmars.hiring@gmail.com
                            </a>
                        </li>
                        <li>
                            <a href="https://maps.app.goo.gl/f7RM1Bz4QSd1hC6K9">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 100 100"><path fill="white" d="M50.001 0C33.65 0 20.25 13.36 20.25 29.666c0 6.318 2.018 12.19 5.433 17.016L46.37 82.445c2.897 3.785 4.823 3.066 7.232-.2l22.818-38.83c.46-.834.822-1.722 1.137-2.629a29.28 29.28 0 0 0 2.192-11.12C79.75 13.36 66.354 0 50.001 0m0 13.9c8.806 0 15.808 6.986 15.808 15.766c0 8.78-7.002 15.763-15.808 15.763c-8.805 0-15.81-6.982-15.81-15.763c0-8.78 7.005-15.765 15.81-15.765"/><path fill="white" d="m68.913 48.908l-.048.126c.015-.038.027-.077.042-.115zM34.006 69.057C19.88 71.053 10 75.828 10 82.857C10 92.325 26.508 100 50 100s40-7.675 40-17.143c0-7.029-9.879-11.804-24.004-13.8l-1.957 3.332C74.685 73.866 82 76.97 82 80.572c0 5.05-14.327 9.143-32 9.143c-17.673 0-32-4.093-32-9.143c-.001-3.59 7.266-6.691 17.945-8.174c-.645-1.114-1.294-2.226-1.94-3.341" color="white"/></svg>
                            Main road calicut
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-social">
                    <a href="https://www.instagram.com/gmars.hiring_solutions?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24"><path fill="white" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"/>
                        </svg>
                    </a>
                    <a href="https://www.facebook.com/profile.php?id=61554695161304">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 16 16"><path fill="white" d="M8 5.67C6.71 5.67 5.67 6.72 5.67 8S6.72 10.33 8 10.33S10.33 9.28 10.33 8S9.28 5.67 8 5.67M15 8c0-.97 0-1.92-.05-2.89c-.05-1.12-.31-2.12-1.13-2.93c-.82-.82-1.81-1.08-2.93-1.13C9.92 1 8.97 1 8 1s-1.92 0-2.89.05c-1.12.05-2.12.31-2.93 1.13C1.36 3 1.1 3.99 1.05 5.11C1 6.08 1 7.03 1 8s0 1.92.05 2.89c.05 1.12.31 2.12 1.13 2.93c.82.82 1.81 1.08 2.93 1.13C6.08 15 7.03 15 8 15s1.92 0 2.89-.05c1.12-.05 2.12-.31 2.93-1.13c.82-.82 1.08-1.81 1.13-2.93c.06-.96.05-1.92.05-2.89m-7 3.59c-1.99 0-3.59-1.6-3.59-3.59S6.01 4.41 8 4.41s3.59 1.6 3.59 3.59s-1.6 3.59-3.59 3.59m3.74-6.49c-.46 0-.84-.37-.84-.84s.37-.84.84-.84s.84.37.84.84a.8.8 0 0 1-.24.59a.8.8 0 0 1-.59.24Z"/>
                        </svg>
                    </a>
                    <a href="https://twitter.com/">
                        <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 1024 1024"><path fill="white" d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448s448-200.6 448-448S759.4 64 512 64m215.3 337.7c.3 4.7.3 9.6.3 14.4c0 146.8-111.8 315.9-316.1 315.9c-63 0-121.4-18.3-170.6-49.8c9 1 17.6 1.4 26.8 1.4c52 0 99.8-17.6 137.9-47.4c-48.8-1-89.8-33-103.8-77c17.1 2.5 32.5 2.5 50.1-2a111 111 0 0 1-88.9-109v-1.4c14.7 8.3 32 13.4 50.1 14.1a111.13 111.13 0 0 1-49.5-92.4c0-20.7 5.4-39.6 15.1-56a315.28 315.28 0 0 0 229 116.1C492 353.1 548.4 292 616.2 292c32 0 60.8 13.4 81.1 35c25.1-4.7 49.1-14.1 70.5-26.7c-8.3 25.7-25.7 47.4-48.8 61.1c22.4-2.4 44-8.6 64-17.3c-15.1 22.2-34 41.9-55.7 57.6"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <p>&#169 2024 G-Mars All Right Reserved.</p>
    </footer>
    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbwuIWN2WdHGsj1CSkz33QCWnfLYRPgU9alpn9B6PrONVdgsYEUZmFnwhsZDlv6t3Mv42A/exec';
        const form = document.forms['submit-to-google-sheet'];

        form.addEventListener('submit', e => {
        e.preventDefault();
        fetch(scriptURL, { method: 'POST', body: new FormData(form) })
            .then(response => {
            console.log('Success!', response);
            // Reload the page after successful data send
            location.reload();
            })
            .catch(error => console.error('Error!', error.message));
        });

    </script>

{% endblock body %}