*{
  font-family: "Kameron", serif;
  font-style: normal;
}
.mobile-nav{
    display: none;
}
.navbar-desktop{
    background-color: #000000;
    padding: 2% 0;
}
.navbar-desktop > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5%;
    margin: 0;
}
.navbar-desktop > ul > li{
    list-style: none;
}
.navbar-desktop > ul > li > a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.3em;
}
.navbar-desktop > ul > li > a:hover{
    color: rgb(214, 213, 213);
}
/* First Section */
.first-section{
    padding: 10% 4%;
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Secound Section */
.secound-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 5%;
}
.secound-section-context > h2{
    font-size: 2.3em;
    font-weight: bolder;
}
.secound-section-context > p{
    font-size: 1.3em;
    padding: 3% 0;
}
.secound-section-context > a > button{
    font-size: 1.3em;
    padding: 2% 8%;
}
/* third - section */
.third-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 5%;
}
.third-section-context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.third-section-context > h2{
    font-size: 2.3em;
}
.third-section-context-boxmain{
    display: flex;
    flex-direction: column;
}
.third-section-context-point-boxeach{
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin: 2% 0;
}
.point-boxeach-text > h4{
    font-size: 1.3em;
}
.point-boxeach-icon{
    padding: 0 2%;
}
/* Fourth Section */
.fourth-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 5%;
}
.fourth-section > h2{
    font-family: "Grey Qo", cursive;
    font-size: 4em;
}
.fourth-section > a > button{
    padding: 2% 4%;
    font-size: 1.2em;
    width: 8em;
}
/* Footer */
.sixth-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E9DFDD;
    gap: 5%;
    padding: 2% 0;
}
.sixth-section-col1{
    background-color: #FFFFFF;
    padding: 1%;
    margin-bottom: -5%;
}
.sixth-section-col3{
    background-color: #FFFFFF;
    padding: 1%;
    margin-top: -5%;
    overflow-x: visible;
}
.sixth-section-col2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sixth-section-col2 > h2{
    padding-bottom: 1em;
}
.sixth-section-input{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.sixth-section-input > input{
    padding: 2%;
    width: 30em;
    border-radius: 0.2em;
    border-color: black;
}
.sixth-section-input > button{
    padding: 0 2em;
}
footer{
    background-color: #000000;
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-get-col1 > ul > li{
    list-style: none;
    padding: 0.5em 0;
}
.footer-get-col1 > ul > li > a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer-get-col2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
.footer-get-col2 > h5{
    font-family: "Grey Qo", cursive;
    font-size: 2em;
}
.social-icons{
    display: flex;
    flex-direction: row;
}
.footer-get-col3 > ul > li{
    list-style: none;
    padding: 0.5em 0;
}
.footer-get-col3 > ul > li > a{
    text-decoration: none;
    color: #FFFFFF;
}
@media only screen and (max-width: 900px){
    .navbar-desktop > ul{
        display: none;
    }
    .mobile-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        justify-content: end;
        padding: 0em 1em;
    }
    .mobile-navs > div > a{
        text-decoration: none;
        font-size: 2em;
        color: black;
    }
    /* Secound Section */
    .secound-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3%;
    }
    .secound-section-img > img{
        width: 100%;
    }
    /* Third section */
    .third-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }
    .third-section-img{
        display: none;
    }
    /* Footer */
    .sixth-section{
        padding: 2em 0;
    }
    .sixth-section-col1{
        display: none;
    }
    .sixth-section-col3{
        display: none;
    }
    .sixth-section-input > input{
        width: 100%;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .social-icons{
        display: flex;
        flex-direction: row;
        padding-bottom: 1em;
    }
    .footer-get-col3 > ul{
        padding: 0;
    }
    .footer-get-col3 > ul > li{
        text-align: center;
    }
}