{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Abroad</title>
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "/eduhub/images/favicon/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/eduhub/images/favicon/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "/eduhub/images/favicon/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "/eduhub/images/favicon/site.webmanifest" %}">
    <!-- style -->
    <link rel="stylesheet" href="{% static "/eduhub/css/service_eduhub.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <style>
        .main-eduhub{
        background-image: url('{% static "/eduhub/images/eduhub_service1.jpg" %}');
    }
    .beforefooter-eduhub{
        background-image: url('{% static "/eduhub/images/eduhub_service3.jpg" %}');
    }

    @media only screen and (max-width: 900px){

        .main-eduhub{
        background-image: url('{% static "/eduhub/images/eduhub_service1.jpg" %}');
        }
    }
    </style>
    <!-- Navbar and First Images -->
    <div class="main-eduhub">
        <nav>
            <div class="mobile-nav">
                <div class="logo-mobile">
                    <img src="{% static "/eduhub/images/eduhub_logo.svg" %}" alt="Logo">
                </div>
                <div class="links-mobile">
                    <div class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                        <svg xmlns="http://www.w3.org/2000/svg" width="5em" height="5em" viewBox="-5 -7 24 24"><path fill="white" d="M1 0h5a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2m7 8h5a1 1 0 0 1 0 2H8a1 1 0 1 1 0-2M1 4h12a1 1 0 0 1 0 2H1a1 1 0 1 1 0-2"/></svg>
                    </div>
                </div>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="mobile-navs offcanvas-body menu-link-button-edu">
                        <div><a href="./index.html">Home</a></div>
                        <div><a href="./about.html">About</a></div>
                        <div><a href="./service.html"><span style="color: 
                            #D05700;">Service</span></a></div>
                        <div><a href="./contact.html">Contact</a></div>
                      </div>
                </div>
            </div>
            <div class="desktop-nav">
                <div class="logo">
                    <img src="{% static "/eduhub/images/eduhub_logo.svg" %}" alt="Logo">
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a href="{% url "eduhub-home" %}">Home</a></li>
                        <li><a href="{% url "eduhub-about" %}">About</a></li>
                        <li><a href="{% url "eduhub-service" %}"><span style="color: #D05700;">Service</span></a></li>
                        <li><a href="{% url "eduhub-contact" %}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="main-content">
            <h1>Our Services</h1>
            <p>
                Get the right abroad <br>
                Guidance in G-mars.
            </p>
        </div>
    </div>
    <!-- Secound section -->
    <div class="secound-section">
        <div class="secound-sec1">
            <img src="{% static "/eduhub/images/eduhub_service2.jpg" %}" alt="Service Image">
        </div>
        <div class="secound-sec2">
            <h1>G-Mars Services</h1>
            <p>
                We offer overseas education services to top countries in the rundown of international education. Are you looking for abroad education services, G-mars will encapsulate all from counselling to visa stamping. We offer services to study in Abroad.
            </p>
            <a href="{% url "eduhub-contact" %}">
                <div class="eduhub_button_service">Contact Us</div>
            </a>
        </div>
    </div>
    <!-- third Section -->
    <div class="fourth-section">
        <h1>Our Services</h1>
        <div class="fourthsection-boxall">
            <div class="fourthsection-box">
                <img src="{% static "/eduhub/images/eduhub_homeicon5.png" %}" alt="">
                <h4>
                    Simplified application
                </h4>
                <p>
                    chat with a councellor, shortlist your course & university and cakewalk to your study abroad journey. it is as easy as that!
                </p>
            </div>
            <div class="fourthsection-box">
                <img src="{% static "/eduhub/images/eduhub_homeicon6.png" %}" alt="">
                <h4>
                    Personalised services
                </h4>
                <p>
                    Choose your right study abroad plan with the help of experienced career counselors and get hassle-free support on your admission, funding, visa and travelchat with a councellor, shortlist your course & university and cakewalk to your study abroad journey. it is as easy as that!
                </p>
            </div>
            <div class="fourthsection-box">
                <img src="{% static "/eduhub/images/eduhub_homeicon7.png" %}" alt="">
                <h4>
                    University network
                </h4>
                <p>
                    Apply to any university & program that you dream of. We are associated with 300+ universities across 35 countries including the UK, US, Canada, Ireland & more. You name it we have it.
                </p>
            </div>
        </div>
        <div class="fourthsection-boxall">
            <div class="fourthsection-box">
                <img src="{% static "/eduhub/images/eduhub_homeicon8.png" %}" alt="">
                <h4>
                    Visa success
                </h4>
                <p>
                    With a high visa success rate of 98.4%, our counselors and expert application team ensure that your documents are in the right place and time, thereby ensuring your successful visa.
                </p>
            </div>
            <div class="fourthsection-box">
                <img src="{% static "/eduhub/images/eduhub_homeicon9.png" %}" alt="">
                <h4>
                    Prep solutions
                </h4>
                <p>
                    Our in-house, expert training wing for the university admission tests such as IELTS, TOEFL, GRE, SAT & GMAT help you score better.
                </p>
            </div>
            <div class="fourthsection-box">
                <img src="{% static "/eduhub/images/eduhub_homeicon10.png" %}" alt="">
                <h4>
                    Scholarships & Funding
                </h4>
                <p>
                    With a decade of experience, we have helped hundreds of our students get scholarships, bursaries and other funding sources to support their study abroad dream.
                </p>
            </div>
        </div>
    </div>
    <!-- Forth Section -->
    <div class="fourthsection-eduhub">
        <h2 style="color: #D05700;">Realize your overseas dream</h2>
        <div class="fourthsection-eduhub2">
            <p>
                Find programs that are affordable and worth pursuing with our assistance. We chooses the apt course for you through thorough screening procedures of the institutes to avoid the ones which are not worth it. You are then given face-to-face counselling sessions to help you have the best understanding of the scenario abroad the study culture, job possibilities and visa & immigration procedures.
            </p>
            <div class="fourthsection-eduhub2-img">
                <img src="{% static "/eduhub/images/eduhub_home7.jpg" %}" alt="FInding a university">
            </div>
        </div>
    </div>
    <!-- Before Footer -->
    <div class="beforefooter-eduhub">
        <h2>Achieve your Higher <br>
        Studies in Gmars</h2>
        <a href="{% url "eduhub-contact" %}">
            <div>Contact Us</div>
        </a>
    </div>
    <!-- Footer -->
    <footer>
        <div class="footer-global">
            <div class="logo-section">
                <img src="{% static "/eduhub/images/eduhub_logo.svg" %}" alt="Logo">
                <p>
                    Looking to study and live
                    abroad? Take a huge step
                    forward with G-Mars.
                </p>
                <div class="icons-socialmedia">
                    <a href="https://www.facebook.com/profile.php?id=61554711024069"><img src="{% static "/eduhub/images/eduhub_iconfacebook.svg" %}" alt="Facebook"></a>
                    <a href="https://www.instagram.com/gmars.global_edu_hub?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img src="{% static "/eduhub/images/eduhub_iconinstagram.svg" %}" alt="Instagram"></a>
                    <a href="https://www.instagram.com/gmars.global_edu_hub?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><img src="{% static "/eduhub/images/eduhub_iconx.svg" %}" alt="X"></a>
                </div>
            </div>
            <div class="aboutus-footer">
                <ul>
                    <li><a href="{% url "eduhub-about" %}"><b>About Us</b></a></li>
                    <li></li>
                    <li><a href="{% url "eduhub-home" %}">Home</a></li>
                    <li><a href="{% url "eduhub-about" %}">About Us</a></li>
                    <li><a href="{% url "eduhub-service" %}">Service</a></li>
                    <li><a href="{% url "eduhub-contact" %}">Contact</a></li>
                </ul>
            </div>
            <div class="contactus-footer">
                <ul>
                    <li><b>Contact us</b></li>
                    <li></li>
                    <li>
                        <a href="tel:+917592080505">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="white" d="m21 15.46l-5.27-.61l-2.52 2.52a15.045 15.045 0 0 1-6.59-6.59l2.53-2.53L8.54 3H3.03C2.45 13.18 10.82 21.55 21 20.97z"/>
                            </svg> 
                        +91 75920 80505
                        </a>
                    </li>
                    <li><a href="mailto:edu.gmarsin@gmail.com">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="white" d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2zm-2 0l-8 5l-8-5zm0 12H4V8l8 5l8-5z"/></svg>
                        edu.gmarsin@gmail.com
                    </a></li>
                    <li><a href="https://maps.app.goo.gl/ZmCbySdpaQgMorQN8">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="white" d="M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7"/></svg>
                        Near New Bus stand, <br>
                        Azhakkodi Temple Road, <br>
                        Kozhikode City</a></li>
                </ul>
            </div>
            <div class="newsletter-footer">
                <p><b>Newletter</b></p>
                <p><br></p>
                <p><b>Get the latest news delivered to your inbox</b></p>
                <form method="POST" name="submit-to-google-sheet">
                    {% csrf_token %}
                    <input type="email" placeholder="Enter your email" name="email">
                </form>
            </div>
        </div>
        <div class="footer-end">
            <hr>
        <p>
            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="white" d="M10.08 10.86c.05-.33.16-.62.3-.87s.34-.46.59-.62c.24-.15.54-.22.91-.23c.23.01.44.05.63.13c.2.09.38.21.52.36s.25.33.34.53s.13.42.14.64h1.79c-.02-.47-.11-.9-.28-1.29s-.4-.73-.7-1.01s-.66-.5-1.08-.66s-.88-.23-1.39-.23c-.65 0-1.22.11-1.7.34s-.88.53-1.2.92s-.56.84-.71 1.36S8 11.29 8 11.87v.27c0 .58.08 1.12.23 1.64s.39.97.71 1.35s.72.69 1.2.91c.48.22 1.05.34 1.7.34c.47 0 .91-.08 1.32-.23s.77-.36 1.08-.63s.56-.58.74-.94s.29-.74.3-1.15h-1.79c-.01.21-.06.4-.15.58s-.21.33-.36.46s-.32.23-.52.3c-.19.07-.39.09-.6.1c-.36-.01-.66-.08-.89-.23c-.25-.16-.45-.37-.59-.62s-.25-.55-.3-.88s-.08-.67-.08-1v-.27c0-.35.03-.68.08-1.01M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2m0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8s8 3.59 8 8s-3.59 8-8 8"/></svg>
            2024 G-Mars All Right Reserved</p>
        </div>
    </footer>
    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbxaokoqZgP2l1x74Roej2veoQ3WZXOpEua9zIJ1KUQ03F3ZB0veJu0akO28Njzy2ccaZQ/exec'
        const form = document.forms['submit-to-google-sheet']

        form.addEventListener('submit', e => {
        e.preventDefault();
        fetch(scriptURL, { method: 'POST', body: new FormData(form) })
            .then(response => {
            console.log('Success!', response);
            // Reload the page after successful data send
            window.location.reload();
            })
            .catch(error => console.error('Error!', error.message));
        });
    </script>
    <!-- Bootrip script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>